root = true

[*]
indent_style = tab
trim_trailing_whitespace = true
end_of_line = crlf
insert_final_newline = true

quote_type = single
spaces_around_operators = true
space_after_control_statements = true
space_after_anonymous_functions = true
spaces_in_brackets = hybrid

[*.md]
indent_style = space
indent_size = 4

[*.{json,yml}]
indent_style = space
indent_size = 2
